<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Compte</title>
</head>

<body>
    <div>
        <div>Image</div>
        <div>Nom : {{user.getNom()}}</div>
        <div>Pseudo : {{user.getPseudo()}}</div>
        <div>Date de naissance : {{user.getDateNaissance()}}</div>
        <div>email : {{user.getEmail()}}</div>
        <div>Mdp : {{user.getMdp()}}</div>
        <div>Historique des tournois : </div>
        <a href="{{path('connection')}}">Déconnexion</a>
        <a>Modifier</a>
        <a>Validation</a>
    </div>
</body>

</html>