<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="{{ asset('css/inscription.css') }}">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            margin: 0;
            background-color: #B685F4;
        }

        .formulaire {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            padding: 20px;
            width: 300px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            line-height: 30px;
        }

        .button{
            margin-left: 100px;
        }

    </style>
</head>

<body>
    <div class="formulaire">
        <h1>Inscription</h1>
        <form action="{{ path('connection') }}" method="post">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="button">Valider</button>
            {{ form_end(form) }}
        </form>
    </div>
</body>

</html>